In [2]:
library(tidyverse)
library(cowplot)
library(scales)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘scales’


The following object is masked from ‘package:purrr’:

    discard


The following object is masked from ‘package:readr’:

    col_factor

In [6]:
cleveland_data <- read_delsv("data/cleveland.data")
cleveland_data

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 2981 Columns: 1
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (1): 1 0 63 1 -9 -9 -9

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     1 0 63 1 -9 -9 -9
1    -9 1 145 1 233 -9 50 20
2    1 -9 1 2 2 3 81 0
3    0 0 0 0 1 10.5 6 13
4    150 60 190 90 145 85 0 0
5    2.3 3 -9 172 0 -9 -9 -9
6    -9 -9 -9 6 -9 -9 -9 2
7    16 81 0 1 1 1 -9 1
8    -9 1 -9 1 1 1 1 1
9    1 1 -9 -9 name
10   2 0 67 1 -9 -9 -9
11   -9 4 160 1 286 -9 40 40
12   0 -9 1 2 3 5 81 0
13   1 0 0 0 1 9.5 6 13
14   108 64 160 90 160 90 1 0
15   1.5 2 -9 185 3 -9 -9 -9
16   -9 -9 -9 3 -9 -9 -9 2
17   5 81 2 1 2 2 -9 2
18   -9 1 -9 1 1 1 1 1
19   1 1 -9 -9 name
20   3 0 67 1 -9 -9 -9
21   -9 4 120 1 229 -9 20 35
22   0 -9 1 2 2 19 81 0
23   1 0 0 0 1 8.5 6 10
24   129 78 140 80 120 80 1 0
25   2.6 2 -9 150 2 -9 -9 -9
26   -9 -9 -9 7 -9 -9 -9 2
27   20 81 1 1 1 1 -9 1
28   -9 1 -9 2 2 1 1 1
29   7 3 -9 -9 name
30   4 0 37 1 -9 -9 -9
⋮    ⋮
2952 4650 12 80 0 0 70 0 -9 -9 103 0 -9 -9 -9
2953 3 0 -9 -9 -9
2954 3
2955 0 -9 1 0 1 1 1 - 234
2956 11 80 0
2957 0 -1 -9 1 04 0 -9 -9
2958 23 89 -9 -9 6
2959 9 -9 -9 6
2960 94 1 -9 -9 -9
2961 -9 357 -57 -51 1 -9 1 1 1
2962 1 1 1 1 1
2963 1 1 1 -9 1 1 1 1 1
2964 1 1 -9 -90 0
2965 0 1 -4 729 1
2966 -9 1 -9 1 1 1 1 19 1
2967 -9 1 -9 1 1 1 1 19 2 1 0
2968 0 - 0
2969 0 -
2970 23 8
2971 13165 0 -965 0 -96
2972 -9 3 138 81 0
2973 1 0 0.7 -9 -9 name
2974 9-9 -9 name
2975 9-
2976 1 84 0
2977 1 8
2978 -0 0 0 1 9 -9 130 80 0 130 80 0 1
2979 -9 3 1h9 1 -9 -9 -9
2980 -9 3
2981 -9 -9 -9 3 -9 -4 1 1